@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&family=Nunito:wght@400;700&display=swap');

:root {
   --font-text: 'Josefin Sans', sans-serif;
   --font-title: 'Nunito', sans-serif;
   --color-azul: #020659;
   --color-verde-claro: #ABFFD2;
   --color-verde: #078C03;
   --color-verde-escuro: #014023;
   --color-preto: #0D0D0D;
   --color-branco: #E8FFF2;
}

* {
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
   font-size: 16px;
   font-family: var(--font-text);
}
.container {
   max-width: 1360px;
   margin: auto;
}


header {
   background-color: var(--color-verde-claro);
   display: block;
}
header .header-logo{
   height: 120px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.logo-right {
   height: 100px;
}
.logo-right img {
   height: 100%;
   width: auto;
}
.logo-center h1 {
   font-size: 40px;
   font-family: var(--font-title);
   font-weight: bold;
}
.logo-left {
   display: flex;
   align-items: center;
   justify-content: flex-end;
}
.logo-left .social {
   width: 30px;
   height: 30px;
   overflow: hidden;
   border-radius: 50%;
   margin-left: 10px;
   cursor: pointer;
}
.logo-left .social img {
   width: 100%;
   height: 100%;
}

.header-menu {
   background-color: var(--color-verde-escuro);
   height: 30px;
   display: flex;
   justify-content: center;
}
.header-menu nav {

}
.header-menu nav ul {
   display: flex;
   justify-content: center;
}
.header-menu nav ul li {
   list-style: none;
}
.header-menu nav ul li a {
   text-decoration: none;
   text-transform: uppercase;
   color: var(--color-branco);
   padding: 0px 10px;
   font-weight: bold;
   font-size: 18px;
   font-family: var(--font-title);
   border-bottom: 3px solid var(--color-verde-escuro);
}
.header-menu nav ul li a:hover {
   color: var(--color-preto);
   border-bottom: 3px solid var(--color-verde-claro);
}

.banner {
   background-color: rgb(168, 157, 202);
   height: calc(100vh - 150px);
   overflow: hidden;
}
.slider-controls {
   position: absolute;
   z-index: 99;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.slider-control {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   overflow: hidden;
   cursor: pointer;
}
.slider-control img {
   width: 100%;
   height: auto;
}
.banner .sliders {
   display: flex;
   height: 100%;
   transition: all ease 0.3s;
}
.banner .slider {
   width: 100vw;
   height: inherit;
   background-position: center;
   background-size: cover;
}